@import url("https://fonts.googleapis.com/css?family=Inter:800,500,700,600");
@import url("https://use.fontawesome.com/releases/v5.6.1/css/all.css");

.box {
  width: 301px;
  height: 523px;
  outline-style: solid;
  border-radius: 17px 17px 17px 17px;
  border: 1px solid black;
}

.box .group {
  width: 317px;
  height: 505px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 299px;
  height: 405px;
  background-color: #ffffff;
  border-radius: 17px;
}

.box .overlap {
  position: absolute;
  width: 299px;
  height: 176px;
  top: 329px;
  left: 0;
}

.box .rectangle {
  position: absolute;
  width: 299px;
  height: 97px;
  top: 95px;
  left: 0;
  background-color: #ff0000;
  border-radius: 0px 0px 17px 17px;
}

.box .div {
  position: absolute;
  width: 265px;
  height: 111px;
  top: 20px;
  left: 0;
  background-color: #ffffff;
  border-radius: 0px 0px 17px 0px;
}

.box .text-wrapper {
  position: relative;
  top: 8px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.box .text-wrapper-2 {
  position: absolute;
  height: 12px;
  top: 153px;
  left: 195px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box .rectangle-2 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 153px;
  left: 24px;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #000000;
}

.box .rectangle-3 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 153px;
  left: 44px;
  background-color: #ffffff;
}

.box .rectangle-4 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 153px;
  left: 62px;
  background-color: #ffffff;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #000000;
}

.box .text-wrapper-3 {
  left: 27px;
  position: absolute;
  height: 12px;
  top: 156px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box .text-wrapper-4 {
  left: 65px;
  position: absolute;
  height: 12px;
  top: 156px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box .text-wrapper-5 {
  left: 46px;
  position: absolute;
  height: 12px;
  top: 156px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box .overlap-2 {
  position: absolute;
  width: 299px;
  height: 145px;
  top: 0;
  left: 0;
  background-color: #ff0000;
  border-radius: 17px 17px 0px 0px;
}

.box .overlap-3 {
  position: absolute;
  width: 140px;
  height: 145px;
  top: 0;
  left: 159px;
}

.box .rectangle-5 {
  position: absolute;
  width: 140px;
  height: 85px;
  top: 60px;
  left: 0;
  background-color: #000000;
}

.box .rectangle-6 {
  position: absolute;
  width: 140px;
  height: 94px;
  top: 0;
  left: 0;
  background-color: #100c95;
  border-radius: 0px 17px 0px 0px;
}

.box .text-wrapper-6 {
  position: absolute;
  top: 34px;
  left: 4px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.box .text-wrapper-7 {
  position: absolute;
  top: 109px;
  left: 11px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.box .image {
  width: 121px;
  height: 80px;
  top: 14px;
  left: 21px;
  position: absolute;
  object-fit: cover;
}

.box .text-wrapper-8 {
  position: absolute;
  width: 141px;
  top: 114px;
  left: 11px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.box .img {
  width: 119px;
  height: 178px;
  top: 151px;
  left: 93px;
  position: absolute;
  object-fit: cover;
}

.box .data-user {
  position: absolute;
  width: 213px;
  height: 60px;
  top: 37px;
  left: 52px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 12px;
}

.data-user {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.data-user span {
  display: inline;
}

.data-user .reg {
  display: inline;
  margin: 40px;
  padding: 0;
}

.data-user .nik {
  display: inline;
  margin: 41px;
  padding: 0;
}

.data-user .company {
  display: inline;
  margin: 4px;
  padding: 0;
}

.data-user .departement {
  display: inline;
  margin: 3px;
  padding: 0;
}

.data-user .position {
  display: inline;
  margin: 22px;
  padding: 0;
}

nav {
  height: 64px;
}

.title{
  position: center;
  font-weight: bold;
}

.side-nav {
  min-width: 200px;
  max-width: 30px;
  width: 220px;
  height: 100%;
  background: white;
  border-right-style: groove;
  border-right-width: 1px;
  overflow: hidden;
}

.side-nav-bottom {
  min-width: 200px;
  max-width: 30px;
  width: 220px;
  height: 100%;
  background: white;
  border-right-style: groove;
  border-right-width: 1px;
  overflow: hidden;
}


.side-title{
  height: 64px;
  width: 100%;
  height: auto!important;
  flex-wrap: wrap;
}

.side-content{
  padding: 5px!important;
}

.side-options{
  color: black;
  margin-left: 15px;
  font-size: 14px;
}

.side-icon{
  color: black;
  margin-bottom: 34px;
  padding-left: 10px;
}

.user-icon{
  width: 54px;
  height: 54px;
  background: white;
  border-radius: 100%;
  transition: all 100ms ease-out;
}

.list-group-item{
  height: 60px;
  margin-top: 0; 
}
.tree{
  padding-left: 40px!important;
}

.material-icons.md-22 { font-size: 26px; }

.data-body {
  width: 100%;
  height: 100%;
  padding-left: 0;
  margin-right: 0!important;
  margin-bottom: 0!important;
  padding-right: 0!important;
  padding-bottom: 0!important;
}

.image-preview {
  height:auto;
  max-width: 20%;
}

#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;   
  padding: 0;
}

.sidebar-expanded {
  width: 300px;
}
.sidebar-collapsed {
  width: 60px;
}

#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#main-body {
  display: flex;
}

.box-side {
  width: 301px;
  height: 523px;
  outline-style: solid;
  border-radius: 17px 17px 17px 17px;
  border: 1px solid black;
}

.box-side .group-side {
  width: 319px;
  height: 505px;
  top: 0;
  left: 0;
}

.box-side .overlap-group-side {
  position: relative;
  width: 299px;
  height: 405px;
  background-color: #ffffff;
  border-radius: 17px;
}

.box-side .overlap-side {
  position: absolute;
  width: 299px;
  height: 131px;
  top: 354px;
  left: 0;
}

.box-side .rectangle-100 {
  position: absolute;
  width: 299px;
  height: 97px;
  top: 54px;
  left: 0;
  background-color: #ff0000;
  border-radius: 0px 0px 17px 17px;
}

.box-side .background-side {
  position: absolute;
  width: 265px;
  height: 32px;
  top: 54px;
  left: 34px;
  background-color: #ffffff;
  border-radius: 0px 0px 0px 17px;
}

.box-side .text-head-name {
  position: absolute;
  top: 40px;
  left: 100px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box-side .text-wrapper {
  position: absolute;
  height: 12px;
  top: 111px;
  left: 195px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box-side .rectangle-20 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 107px;
  left: 24px;
  background-color: #ffffff;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #000000;
}

.box-side .rectangle-30 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 107px;
  left: 43px;
  background-color: #ffffff;
}

.box-side .rectangle-40 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 107px;
  left: 62px;
  background-color: #ffffff;
  border-left-width: 1px;
  border-left-style: solid;
  border-color: #000000;
}

.box-side .text-wrapper-20 {
  left: 27px;
  position: absolute;
  height: 12px;
  top: 111px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box-side .text-wrapper-30 {
  left: 65px;
  position: absolute;
  height: 12px;
  top: 111px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box-side .text-wrapper-40 {
  left: 45px;
  position: absolute;
  height: 12px;
  top: 111px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box-side .rectangle-50 {
  position: absolute;
  width: 182px;
  height: 70px;
  top: 0;
  left: 66px;
  border-radius: 8px;
  border: 1px solid;
  border-color: #000000;
}

.box-side .text-wrapper-50 {
  position: absolute;
  top: 20px;
  left: 91px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-side ol {
  position: absolute;
  top: 64px;
  left: -20px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.box-side .text-wrapper-60 {
  position: absolute;
  top: 185px;
  left: 27px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.box-side .head-office {
  position: absolute;
  width: 221px;
  top: 211px;
  left: 27px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.box-side .office-span {
  font-weight: 700;
}

.box-side .text-wrapper-70 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
}

.box-side .site-office {
  position: absolute;
  width: 221px;
  top: 272px;
  left: 27px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.image-side {
  width: 263px;
  height: 175px;
}

.box-side .alamkaryalogo {
  position: absolute;
  width: 263px;
  height: 175px;
  left: 12px;
  top: 100px;
  object-fit: cover;
  opacity: 0.3;
}

.box-simper {
  width: 301px;
  height: 523px;
  outline-style: solid;
  border-radius: 17px 17px 17px 17px;
  border: 1px solid black;
}

.box-simper .group-simper {
  width: 345px;
  height: 519px;
  top: 0;
  left: 0;
}

.box-simper .overlap-simper {
  position: relative;
  width: 299px;
  height: 519px;
}

.box-simper .rectangle-simper {
  position: absolute;
  width: 299px;
  height: 518px;
  top: 1px;
  left: 0;
  background-color: #ffffff;
  border-radius: 17px;
}

.box-simper .div-simper {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 492px;
  left: 204px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.box-simper .rectangle-simper-2 {
  width: 19px;
  height: 19px;
  top: 492px;
  left: 223px;
  background-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  position: absolute;
  border-color: #000000;
}

.box-simper .rectangle-simper-3 {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 492px;
  left: 242px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.box-simper .text-wrapper-simper {
  height: 12px;
  top: 496px;
  left: 206px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.box-simper .text-wrapper-simper-2 {
  height: 12px;
  top: 496px;
  left: 245px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.box-simper .text-wrapper-simper-3 {
  height: 12px;
  top: 496px;
  left: 225px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
  position: absolute;
  color: #000000;
  letter-spacing: 0;
}

.box-simper .rectangle-simper-4 {
  width: 182px;
  height: 70px;
  top: 400px;
  left: 60px;
  border-radius: 8px;
  border: 2px solid;
  position: absolute;
  border-color: #000000;
}

.box-simper .head-of-eng-simper {
  position: absolute;
  top: 440px;
  left: 94px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box-simper .text-wrapper-simper-4 {
  position: absolute;
  top: 201px;
  left: 141px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18.2px;
  white-space: nowrap;
}

.box-simper .rectangle-simper-5 {
  position: absolute;
  width: 299px;
  height: 145px;
  top: 0;
  left: 0;
  background-color: #100c95;
  border-radius: 17px 17px 0px 0px;
}

.box-simper .rectangle-simper-6 {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 58px;
  left: 24px;
  background-color: #ffffff;
}

.box-simper .overlap-group-wrapper-simper {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 58px;
  left: 24px;
}

.box-simper .overlap-group-simper {
  position: relative;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.box-simper .text-wrapper-simper-5 {
  position: absolute;
  top: -1px;
  left: 2px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.box-simper .overlap-wrapper-simper {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 58px;
  left: 73px;
}

.box-simper .div-wrapper-simper {
  position: relative;
  width: 17px;
  height: 17px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.box-simper .text-wrapper-simper-6 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.box-simper .group-simper-2 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 58px;
  left: 48px;
}

.box-simper .text-wrapper-simper-7 {
  position: absolute;
  top: 0;
  left: 2px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.box-simper .text-wrapper-simper-8 {
  top: 40px;
  left: 22px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 10px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .text-wrapper-simper-9 {
  position: absolute;
  top: 15px;
  left: 122px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .rectangle-simper-7 {
  position: absolute;
  width: 84px;
  height: 84px;
  top: 58px;
  left: 192px;
  background-color: #ff0000;
}

.box-simper .group-simper-3 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 81px;
  left: 204px;
}

.box-simper .group-simper-4 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 81px;
  left: 244px;
}

.box-simper .group-simper-5 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 81px;
  left: 224px;
}

.box-simper .text-wrapper-simper-10 {
  top: 63px;
  left: 198px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .group-simper-6 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 122px;
  left: 195px;
}

.box-simper .group-simper-7 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 122px;
  left: 255px;
}

.box-simper .text-wrapper-simper-11 {
  position: absolute;
  top: 0;
  left: -1px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .group-simper-8 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 122px;
  left: 235px;
}

.box-simper .group-simper-9 {
  position: absolute;
  width: 19px;
  height: 17px;
  top: 122px;
  left: 215px;
}

.box-simper .text-wrapper-simper-12 {
  position: absolute;
  top: 104px;
  left: 201px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .text-wrapper-simper-13 {
  position: absolute;
  top: 82px;
  left: 22px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .text-wrapper-simper-14 {
  top: 99px;
  position: absolute;
  left: 22px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .text-wrapper-simper-15 {
  top: 117px;
  position: absolute;
  left: 22px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .text-wrapper-simper-16 {
  top: 82px;
  left: 99px;
  position: absolute;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .text-wrapper-simper-17 {
  top: 100px;
  left: 99px;
  position: absolute;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .text-wrapper-simper-18 {
  top: 117px;
  left: 98px;
  position: absolute;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .text-wrapper-simper-19 {
  top: 159px;
  left: 77px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.box-simper .group-simper-10 {
  position: absolute;
  width: 272px;
  height: 138px;
  top: 197px;
  left: 15px;
}

.box-simper .kehilangan-SIMPER {
  position: absolute;
  top: 343px;
  left: 36px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ff0000;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0;
  line-height: 13px;
}

.box-simper .text-wrapper-simper-28 {
  position: absolute;
  height: 12px;
  top: 480px;
  left: 204px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 8px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.ttd {
  position: absolute;
  height: 40px;
}

.box-simper-front {
  width: 301px;
  height: 523px;
  outline-style: solid;
  border-radius: 17px 17px 17px 17px;
  border: 1px solid black;
}

.box-simper-front .group-simper-front {
  width: 343px;
  height: 505px;
  top: 0;
  left: 0;
}

.box-simper-front .overlap-group-simper-front {
  position: relative;
  width: 299px;
  height: 505px;
  background-color: #ffffff;
  border-radius: 17px;
}

.box-simper-front .overlap-simper-front {
  position: absolute;
  width: 299px;
  height: 145px;
  top: 0;
  left: 0;
  background-color: #ff0000;
  border-radius: 17px 17px 0px 0px;
}

.box-simper-front .div-simper-front {
  position: absolute;
  width: 140px;
  height: 145px;
  top: 0;
  left: 159px;
}

.box-simper-front .rectangle-simper-front {
  position: absolute;
  width: 140px;
  height: 85px;
  top: 60px;
  left: 0;
  background-color: #000000;
}

.box-simper-front .rectangle-simper-front-2 {
  position: absolute;
  width: 140px;
  height: 94px;
  top: 0;
  left: 0;
  background-color: #100c95;
  border-radius: 0px 17px 0px 0px;
}

.box-simper-front .text-wrapper-simper-front {
  position: absolute;
  width: 90px;
  top: 37px;
  left: 25px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2.2px;
  line-height: 20px;
  white-space: nowrap;
}

.box-simper-front .text-wrapper-simper-front-2 {
  position: absolute;
  top: 109px;
  left: 11px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
}

.box-simper-front .image-simper-front {
  width: 121px;
  height: 80px;
  top: 14px;
  left: 21px;
  position: absolute;
  object-fit: cover;
}

.box-simper-front .text-wrapper-simper-front-3 {
  position: absolute;
  width: 141px;
  top: 114px;
  left: 11px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.box-simper-front .data-user-simper {
  position: absolute;
  width: 213px;
  height: 84px;
  top: 147px;
  left: 15px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
}

.data-user-simper .reg-simper-front {
  display: inline;
  padding: 0;
  margin-left: 50px;
}

.data-user-simper .name-simper-front {
  display: inline;
  padding: 0;
  margin-left: 42px;
}

.data-user-simper .nik-simper-front {
  display: inline;
  padding: 0;
  margin-left: 52px;
}

.data-user-simper .company-simper-front {
  display: inline;
  padding: 0;
  margin-left: 15px;
}

.data-user-simper .departement-simper-front {
  display: inline;
  padding: 0;
  margin-left: 14px;
}

.data-user-simper .position-simper-front {
  display: inline;
  padding: 0;
  margin-left: 33px;
}

.box-simper-front .div-wrapper-simper-front {
  position: absolute;
  width: 25px;
  height: 23px;
  top: 461px;
  left: 24px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.box-simper-front .text-wrapper-simper-front-4 {
  width: 17px;
  height: 14px;
  top: 4px;
  left: 7px;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .overlap-simper-front-2 {
  position: absolute;
  width: 25px;
  height: 23px;
  top: 461px;
  left: 49px;
  background-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #000000;
}

.box-simper-front .text-wrapper-simper-front-5 {
  width: 19px;
  height: 14px;
  top: 4px;
  left: 4px;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .overlap-simper-front-3 {
  position: absolute;
  width: 25px;
  height: 23px;
  top: 461px;
  left: 74px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
}

.box-simper-front .text-wrapper-simper-front-6 {
  width: 20px;
  height: 14px;
  top: 4px;
  left: 4px;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .text-wrapper-simper-front-7 {
  position: absolute;
  height: 12px;
  top: 446px;
  left: 24px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 10px;
  letter-spacing: -0.2px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .overlap-simper-front-4 {
  position: absolute;
  width: 299px;
  height: 29px;
  top: 238px;
  left: 0;
  background-color: #100c95;
}

.box-simper-front .text-wrapper-simper-front-8 {
  position: absolute;
  height: 12px;
  top: 9px;
  left: 32px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: -0.32px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .overlap-simper-front-5 {
  position: absolute;
  width: 24px;
  height: 23px;
  top: 3px;
  left: 163px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-9 {
  height: 12px;
  top: 5px;
  left: 4px;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.48px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .overlap-simper-front-6 {
  position: absolute;
  width: 24px;
  height: 23px;
  top: 3px;
  left: 204px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-10 {
  height: 12px;
  top: 4px;
  left: 2px;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.48px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .overlap-simper-front-7 {
  position: absolute;
  width: 24px;
  height: 23px;
  top: 3px;
  left: 243px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-11 {
  height: 12px;
  top: 4px;
  left: 3px;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.48px;
  position: absolute;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .overlap-simper-front-8 {
  position: absolute;
  width: 251px;
  height: 170px;
  top: 274px;
  left: 24px;
}

.box-simper-front .img-simper-front {
  width: 113px;
  height: 169px;
  top: 1px;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.box-simper-front .rectangle-simper-front-3 {
  position: absolute;
  width: 251px;
  height: 169px;
  top: 0;
  left: 0;
  border: 1px solid;
  border-color: #000000;
}

.box-simper-front .rectangle-simper-front-4 {
  position: absolute;
  width: 138px;
  height: 84px;
  top: 1px;
  left: 113px;
  background-color: #100c95;
}

.box-simper-front .rectangle-simper-front-5 {
  position: absolute;
  width: 29px;
  height: 20px;
  top: 19px;
  left: 127px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-12 {
  top: 24px;
  left: 133px;
  position: absolute;
  width: 14px;
  height: 11px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .rectangle-simper-front-6 {
  position: absolute;
  width: 29px;
  height: 20px;
  top: 19px;
  left: 170px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-13 {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 23px;
  left: 175px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .rectangle-simper-front-7 {
  position: absolute;
  width: 29px;
  height: 20px;
  top: 59px;
  left: 117px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-14 {
  top: 64px;
  left: 123px;
  position: absolute;
  width: 14px;
  height: 11px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .rectangle-simper-front-8 {
  position: absolute;
  width: 29px;
  height: 20px;
  top: 59px;
  left: 151px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-15 {
  position: absolute;
  width: 14px;
  height: 11px;
  top: 63px;
  left: 159px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .rectangle-simper-front-9 {
  position: absolute;
  width: 29px;
  height: 20px;
  top: 59px;
  left: 185px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-16 {
  position: absolute;
  width: 12px;
  height: 10px;
  top: 61px;
  left: 193px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: -0.48px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .rectangle-simper-front-10 {
  position: absolute;
  width: 29px;
  height: 20px;
  top: 59px;
  left: 219px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-17 {
  position: absolute;
  width: 29px;
  height: 11px;
  top: 64px;
  left: 220px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: -0.38px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .rectangle-simper-front-11 {
  position: absolute;
  width: 29px;
  height: 20px;
  top: 19px;
  left: 213px;
  border: 1px solid;
  border-color: #ffffff;
}

.box-simper-front .text-wrapper-simper-front-18 {
  position: absolute;
  width: 24px;
  height: 11px;
  top: 23px;
  left: 216px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: -0.4px;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .text-wrapper-simper-front-19 {
  position: absolute;
  top: 6px;
  left: 153px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.box-simper-front .text-wrapper-simper-front-20 {
  position: absolute;
  top: 45px;
  left: 149px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0;
  line-height: normal;
}

.box-simper-front .text-wrapper-simper-front-21 {
  position: absolute;
  height: 12px;
  top: 151px;
  left: 151px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 12px;
  white-space: nowrap;
}

.box-simper-front .rectangle-simper-front-50 {
  margin-top: -50px;
}

@media screen and (max-width: 599px) {
  nav {
      height: 56px;
  }

  .data-body {
      margin-top: 56px; 
  }

  .side.title{
      height: 56px;
  }
}

@page {
  display: flex;
  size: auto;
  margin: 0mm;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}