{{ define "content" }}

<style>
  .box-side {
    width: 299px;
    height: 521px;
    outline-style: solid;
    border-radius: 17px 17px 17px 17px;
  }

  .box-side .group-side {
    width: 319px;
    height: 505px;
    top: 0;
    left: 0;
  }

  .box-side .overlap-group-side {
    position: relative;
    width: 299px;
    height: 405px;
    background-color: #ffffff;
    border-radius: 17px;
  }

  .box-side .overlap-side {
    position: absolute;
    width: 299px;
    height: 131px;
    top: 354px;
    left: 0;
  }

  .box-side .rectangle-100 {
    position: absolute;
    width: 299px;
    height: 97px;
    top: 54px;
    left: 0;
    background-color: #ff0000;
    border-radius: 0px 0px 17px 17px;
  }

  .box-side .background-side {
    position: absolute;
    width: 265px;
    height: 32px;
    top: 54px;
    left: 34px;
    background-color: #ffffff;
    border-radius: 0px 0px 0px 17px;
  }

  .box-side .text-head-name {
    position: absolute;
    top: 40px;
    left: 100px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .box-side .text-wrapper {
    position: absolute;
    height: 12px;
    top: 111px;
    left: 195px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 12px;
    white-space: nowrap;
  }

  .box-side .rectangle-20 {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 107px;
    left: 24px;
    background-color: #ffffff;
    border-right-width: 1px;
    border-right-style: solid;
    border-color: #000000;
  }

  .box-side .rectangle-30 {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 107px;
    left: 43px;
    background-color: #ffffff;
  }

  .box-side .rectangle-40 {
    position: absolute;
    width: 19px;
    height: 19px;
    top: 107px;
    left: 62px;
    background-color: #ffffff;
    border-left-width: 1px;
    border-left-style: solid;
    border-color: #000000;
  }

  .box-side .text-wrapper-20 {
    left: 27px;
    position: absolute;
    height: 12px;
    top: 111px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
    white-space: nowrap;
  }

  .box-side .text-wrapper-30 {
    left: 65px;
    position: absolute;
    height: 12px;
    top: 111px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
    white-space: nowrap;
  }

  .box-side .text-wrapper-40 {
    left: 45px;
    position: absolute;
    height: 12px;
    top: 111px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 12px;
    white-space: nowrap;
  }

  .box-side .rectangle-50 {
    position: absolute;
    width: 182px;
    height: 70px;
    top: 0;
    left: 66px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #000000;
  }

  .box-side .text-wrapper-50 {
    position: absolute;
    top: 20px;
    left: 91px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  .box-side ol {
    position: absolute;
    top: 64px;
    left: -20px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 11px;
    letter-spacing: 0;
    line-height: normal;
  }

  .box-side .text-wrapper-60 {
    position: absolute;
    top: 185px;
    left: 27px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }

  .box-side .head-office {
    position: absolute;
    width: 221px;
    top: 211px;
    left: 27px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }

  .box-side .office-span {
    font-weight: 700;
  }

  .box-side .text-wrapper-70 {
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
  }

  .box-side .site-office {
    position: absolute;
    width: 221px;
    top: 272px;
    left: 27px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0;
    line-height: normal;
  }

  .image-side {
    width: 263px;
    height: 175px;
  }

  .box-side .alamkaryalogo {
    position: absolute;
    width: 263px;
    height: 175px;
    left: 12px;
    top: 100px;
    object-fit: cover;
    opacity: 0.3;
  }
</style>
<div id="page-permit" class="d-flex align-items-center justify-content-center">
  <div class="box-side">
    <div class="group-side">
      <div class="overlap-group-side">
        <div class="overlap-side">
          <div class="rectangle-100"></div>
          <div class="background-side"></div>
          <p class="text-head-name">
            Marradian Dwi Pujana<br />Kepala Teknik Tambang
          </p>
          <div class="text-wrapper">Valid : 13-03-2024</div>
          <div class="rectangle-20"></div>
          <div class="rectangle-30"></div>
          <div class="rectangle-40"></div>
          <div class="text-wrapper-20">L1</div>
          <div class="text-wrapper-30">L3</div>
          <div class="text-wrapper-40">L2</div>
          <div class="rectangle-50"></div>
        </div>
        <div class="text-wrapper-50">PERHATIAN</div>
        <p>
            <ol type="1">
                <li>ID Card ini berfungsi sebagai tanda pengenal di lingkungan kerja PT. Alam Karya Gemilang.</li>
                <li>Wajib menggunakan ID Card di lingkungan kerja PT. Alam Karya Gemilang </li>
                <li>Tidak dibenarkan memakai ID Card orang lain</li>
                <li>Kehilangan ID Card dikenakan biaya penggantian sebesar Rp. 100.00,-</li>
                <li>Bagi yang menemukan ID Card ini mohon agar dapat dikembalikan ke:</li>
            </ol>
        </p>
        <div class="text-wrapper-60">PT. Alam Karya Gemilang</div>
        <p class="head-office">
          <span class="head-office-span">Head Office:<br /></span>
          <span class="text-wrapper-70"
            >Jl. MT. Haryono Perumahan Bukit Mediterania <br />Perkantoran No.
            23-26<br />Air Putih Samarinda-Kalimantan Timur</span
          >
        </p>
        <p class="site-office">
          <span class="office-span">Site Office:<br /></span>
          <span class="text-wrapper-70"
            >Jalan Poros Muara Badak<br />Desa Tanjung Limau<br />Kec. Muara
            Badak</span
          >
        </p>
        <div class="image-side">
          <img
            class="alamkaryalogo"
            src="https://alamkaryagemilang.com/alamkaryalogo.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>

{{ end }}
