{{ define "content" }}
<div class="d-flex align-items-center justify-content-center">
  <div class="box-simper">
    <div class="group-simper">
      <div class="overlap-simper">
        <div class="rectangle-simper"></div>
        <div class="div-simper"></div>
        <div class="rectangle-simper-2"></div>
        <div class="rectangle-simper-3"></div>
        <div class="text-wrapper-simper">L3</div>
        <div class="text-wrapper-simper-2">L1</div>
        <div class="text-wrapper-simper-3">L2</div>
        <div class="rectangle-simper-4"></div>
        <p class="head-of-eng-simper">
          Marradian Dwi Pujana<br />Kepala Teknik Tambang
        </p>
        <div class="rectangle-simper-5"></div>
        <div class="rectangle-simper-6"></div>
        <div class="overlap-group-wrapper-simper">
          <div class="overlap-group-simper">
            <div class="text-wrapper-simper-5">A</div>
          </div>
        </div>
        <div class="overlap-wrapper-simper">
          <div class="div-wrapper-simper">
            <div class="text-wrapper-simper-6">BII</div>
          </div>
        </div>
        <div class="group-simper-2">
          <div class="div-wrapper-simper">
            <div class="text-wrapper-simper-7">BI</div>
          </div>
        </div>
        <div class="text-wrapper-simper-8">JENIS SIMPOL</div>
        <div class="text-wrapper-simper-9">SIMPER</div>
        <div class="rectangle-simper-7"></div>
        <div class="group-simper-3">
          <div class="overlap-group-simper">
            <div class="text-wrapper-simper-5">P</div>
          </div>
        </div>
        <div class="group-simper-4">
          <div class="div-wrapper-simper">
            <div class="text-wrapper-simper-5">R</div>
          </div>
        </div>
        <div class="group-simper-5">
          <div class="div-wrapper-simper">
            <div class="text-wrapper-simper-5">Q</div>
          </div>
        </div>
        <div class="text-wrapper-simper-10">JENIS SIMPER</div>
        <div class="group-simper-6">
          <div class="overlap-group-simper">
            <div class="text-wrapper-simper-5">A</div>
          </div>
        </div>
        <div class="group-simper-7">
          <div class="div-wrapper-simper">
            <div class="text-wrapper-simper-11">AB</div>
          </div>
        </div>
        <div class="group-simper-8">
          <div class="div-wrapper-simper">
            <div class="text-wrapper-simper-5">O</div>
          </div>
        </div>
        <div class="group-simper-9">
          <div class="div-wrapper-simper">
            <div class="text-wrapper-simper-5">B</div>
          </div>
        </div>
        <div class="text-wrapper-simper-12">GOL DARAH</div>
        <div class="text-wrapper-simper-13">No SIMPOL</div>
        <div class="text-wrapper-simper-14">Masa Berlaku</div>
        <div class="text-wrapper-simper-15">Masa SIMPER</div>
        <div class="text-wrapper-simper-16">: 941019310641</div>
        <div class="text-wrapper-simper-17">: 12-10-2023</div>
        <div class="text-wrapper-simper-18">: 12-10-2023</div>
        <div class="text-wrapper-simper-19">JENIS PERALATAN</div>
        <div class="group-simper-10">
          <table class="col-12 center-table">
            <tr>
              <td>1</td>
              <td>F</td>
              <td>P</td>
              <td>T</td>
              <td>LIGHT VEHICLE</td>
            </tr>
            <tr>
              <td>1</td>
              <td>F</td>
              <td>P</td>
              <td>T</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td>F</td>
              <td>P</td>
              <td>T</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td>F</td>
              <td>P</td>
              <td>T</td>
              <td></td>
            </tr>
            <tr>
              <td>1</td>
              <td>F</td>
              <td>P</td>
              <td>T</td>
              <td></td>
            </tr>
          </table>
        </div>

        <p class="kehilangan-SIMPER">
          Kehilangan SIMPER &amp; PERMIT dikenakan denda<br />Rp. 100.000,-<br />SIMPER
          wajib dibawa pada saat<br />mengoperasikan unit atau kendaraan
        </p>
        <div class="text-wrapper-simper-28">Pelanggaran</div>
      </div>
    </div>
  </div>
</div>

{{ end }}
