{{ define "content" }}
<div id="create-permit" class="justify-content-center data-body">
  <div class="m-3">
    <h1 class="text-center">Create Permit</h1>
    <form
      id="create-permit"
      action="/create/permit"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <label for="inputName">Nama*</label>
        <input
          id="inputName"
          type="text"
          class="form-control"
          name="name"
          placeholder="Name"
          readonly
        />
      </div>
      <div class="form-group">
        <label for="inputRegion">Region*</label>
        <input
          type="text"
          class="form-control"
          name="region"
          placeholder="Region"
          required
        />
      </div>
      <div class="form-group">
        <label for="inputNik">NIK*</label>
        <input
          type="text"
          class="form-control"
          name="nik"
          placeholder="NIK"
          required
        />
      </div>
      <div class="form-group">
        <label for="inputCompany">Perusahaan*</label>
        <input
          type="text"
          class="form-control"
          name="company"
          placeholder="Perusahaan"
          required
        />
      </div>
      <div class="form-group">
        <label for="inputDepartement">Departemen*</label>
        <select id="inputDepartement" name="departement" class="form-control">
          <option selected>Tidak Ada</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputPosition">Jabatan*</label>
        <select id="inputPosition" name="position" class="form-control">
          <option selected>Tidak Ada</option>
        </select>
      </div>
      <div class="form-group">
        <label for="inputType">Tipe*</label>
        <select id="inputType" name="type" class="form-control">
          <option value="karyawan" selected>KARYAWAN</option>
          <option value="kontraktor">KONTRAKTOR</option>
        </select>
      </div>
      <div class="form-group" id="valid-permit">
        <label for="datepicker">Valid Date*</label>
        <input
          type="date"
          class="form-control"
          name="valid"
          id="datepicker"
          required
        />
      </div>
      <div class="form-group">
        <label for="violation">Pelanggaran</label>
        <select id="violation" name="violation" class="form-control">
          <option value="" selected>Tidak Ada</option>
          <option value="L3">L3</option>
          <option value="L2">L2</option>
          <option value="L1">L1</option>
        </select>
      </div>
      <div class="form-group">
        <label for="datepicker">Simper</label>
        <div class="custom-control custom-switch">
          <input
            type="checkbox"
            class="custom-control-input"
            id="isSimperSwitch"
            name="is_simper"
          />
          <label class="custom-control-label" for="isSimperSwitch"
            >Membutuhkan Simper?</label
          >
        </div>
      </div>
      <div id="simper-form" class="d-none">
        <div class="form-group" id="valid-simper">
          <label for="datepicker">Valid Simper*</label>
          <input
            type="date"
            class="form-control"
            name="simper_valid"
            id="datepickersimper"
          />
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="no_simpol">No Simpol*</label>
            <input
              type="number"
              class="form-control"
              name="no_simpol"
              placeholder="No Simpol"
              id="no_simpol"
            />
          </div>
          <div class="col">
            <label for="simpol_type">Simpol*</label>
            <select id="simpol_type" name="simpol" class="form-control">
              <option value="A" selected>A</option>
              <option value="BI">BI</option>
              <option value="BII">BII</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col">
            <label for="blood_type">Golongan Darah*</label>
            <select id="blood_type" name="blood_type" class="form-control">
              <option value="A" selected>A</option>
              <option value="B">B</option>
              <option value="O">O</option>
              <option value="AB">AB</option>
            </select>
          </div>
          <div class="col">
            <label for="simper_type">Jenis Simper*</label>
            <select id="simper_type" name="simper_type" class="form-control">
              <option value="P" selected>P</option>
              <option value="Q">Q</option>
              <option value="R">R</option>
            </select>
          </div>
        </div>
        <h6 class="mt-3 font-weight-bold">Jenis Peralatan</h5>
        <small id="emailHelp" class="form-text text-muted">Gunakan koma (,) jika lebih dari satu.</small>
        <div class="form-group row">
          <div class="col">
            <label for="simper_type">Type Peralatan</label>
            <input
              type="text"
              class="form-control"
              name="type_vehicle"
              placeholder="Type Peralatan"
            />
          </div>
          <div class="col">
            <label for="blood_type">Nama Peralatan</label>
            <input
              type="text"
              class="form-control"
              name="name_vehicle"
              placeholder="Nama Peralatan"
            />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="imagePermit">Photo Profile*</label>
        <input
          type="file"
          class="form-control-file"
          id="imagePermit"
          name="file"
          onchange="preview()"
          required
        />
        <img id="frame" src="" class="m-2 image-preview" />
      </div>
      <button
        type="submit"
        class="btn btn-primary float-right create-permit-btn"
      >
        Submit
      </button>
    </form>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>
<script
  type="text/javascript"
  src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
></script>
<script>
  const today = new Date().toISOString().split("T")[0];
  document.getElementById("datepicker").value = today;
  document.getElementById("datepickersimper").value = today;

  $(document).ready(function () {
    var selectDepartment = document.getElementById("inputDepartement");
    var selectPosition = document.getElementById("inputPosition");

    $.ajax({
      url: "/me",
      method: "get",
      success: function (result) {
        document.getElementById("inputName").value = result.name;
        if (result.role !== "admin") {
          const validPermit = document.getElementById("valid-permit");
          validPermit.classList.add("d-none");

          const validSimper = document.getElementById("valid-simper");
          validSimper.classList.add("d-none");
        }
      },
    });

    $.ajax({
      url: "/get/department",
      method: "get",
      success: function (results) {
        $.each(results, function (index, row) {
          var opt = document.createElement("option");
          opt.value = row.name;
          opt.innerHTML = row.name;
          selectDepartment.appendChild(opt);
        });
      },
    });

    $.ajax({
      url: "/get/position",
      method: "get",
      success: function (results) {
        $.each(results, function (index, row) {
          var opt = document.createElement("option");
          opt.value = row.name;
          opt.innerHTML = row.name;
          selectPosition.appendChild(opt);
        });
      },
    });

    $("#isSimperSwitch").on("click", function () {
      const elementSimper = document.getElementById("simper-form");
      if ($('input[type="checkbox"]').prop("checked")) {
        $("#simper-form").removeClass("d-none");
      } else {
        elementSimper.classList.add("d-none");
      }
    });

    $("#create-permit").on("click", ".create-permit-btn", function () {
      $('button[type="submit"]').click(function (event) {
        $("[required]").each(function (i, el) {
          if ($(el).val() == "" || $(el).val() == undefined) {
            Swal.fire({
              title: "Failed",
              text: "Please fill in all mandatory fields!",
              icon: "error",
              confirmButtonColor: "#3085d6",
              confirmButtonText: "Yes",
              background: "#ffffff",
            });
            event.preventDefault();
            return false;
          } else {
            $("#create-permit").attr("action", "/create/permit");

            Swal.fire({
              title: "Success",
              text: "Permit data has been added.",
              icon: "success",
              confirmButtonColor: "#3085d6",
              confirmButtonText: "Yes",
              background: "#ffffff",
            });
          }
        });
      });
    });
  });

  function preview() {
    frame.src = URL.createObjectURL(event.target.files[0]);
  }
  function clearImage() {
    document.getElementById("imagePermit").value = null;
    frame.src = "";
  }
</script>
{{ end }}
