{{ define "content" }}
<div class="container">
  <div class="row">
    <div class="col-4">
      <div
        id="page-permit"
        class="d-flex align-items-center justify-content-center"
      >
        <div class="box">
          <div class="group">
            <div class="overlap-group">
              <div class="overlap">
                <div class="rectangle"></div>
                <div class="div"></div>
                <div
                  class="text-wrapper d-flex align-items-center justify-content-center"
                >
                  <p id="name-permit" class="text-uppercase"></p>
                </div>
                <div class="data-user">
                  <div>
                    Reg :
                    <p class="reg" id="reg-permit"></p>
                  </div>
                  <div>
                    NIK :
                    <p class="nik" id="nik-permit"></p>
                  </div>
                  <div>
                    Perusahaan :
                    <p id="company-permit" class="company text-uppercase"></p>
                  </div>
                  <div>
                    Departemen :
                    <p
                      id="departement-permit"
                      class="departement text-uppercase"
                    ></p>
                  </div>
                  <div>
                    Jabatan :
                    <p id="position-permit" class="position"></p>
                  </div>
                </div>
                <div class="text-wrapper-2 d-flex">
                  Valid :
                  <p id="valid-permit" class="ml-1"></p>
                </div>
                <div class="rectangle-2"></div>
                <div class="rectangle-3"></div>
                <div class="rectangle-4"></div>
                <div class="text-wrapper-3">L1</div>
                <div class="text-wrapper-4">L3</div>
                <div class="text-wrapper-5">L2</div>
              </div>
              <div class="overlap-2">
                <div class="overlap-3">
                  <div class="rectangle-5"></div>
                  <div class="rectangle-6"></div>
                  <div class="text-wrapper-6">MINE PERMIT</div>
                  <div class="text-wrapper-7">KARYAWAN</div>
                </div>
                <img
                  class="image"
                  src="https://alamkaryagemilang.com/alamkaryalogo.png"
                />
                <div class="text-wrapper-8">PT.ALAM KARYA GEMILANG</div>
              </div>
              <img id="img-profile" class="img" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div id="page-permit" class="d-flex align-items-center justify-content-center">
        <div class="box-side">
          <div class="group-side">
            <div class="overlap-group-side">
              <div class="overlap-side">
                <div class="rectangle-100"></div>
                <div class="background-side"></div>
                <p class="text-head-name">
                  Marradian Dwi Pujana<br />Kepala Teknik Tambang
                </p>
                <div class="text-wrapper">Valid : 13-03-2024</div>
                <div class="rectangle-20"></div>
                <div class="rectangle-30"></div>
                <div class="rectangle-40"></div>
                <div class="text-wrapper-20">L1</div>
                <div class="text-wrapper-30">L3</div>
                <div class="text-wrapper-40">L2</div>
                <div class="rectangle-50"></div>
              </div>
              <div class="text-wrapper-50">PERHATIAN</div>
              <p>
                  <ol type="1">
                      <li>ID Card ini berfungsi sebagai tanda pengenal di lingkungan kerja PT. Alam Karya Gemilang.</li>
                      <li>Wajib menggunakan ID Card di lingkungan kerja PT. Alam Karya Gemilang </li>
                      <li>Tidak dibenarkan memakai ID Card orang lain</li>
                      <li>Kehilangan ID Card dikenakan biaya penggantian sebesar Rp. 100.00,-</li>
                      <li>Bagi yang menemukan ID Card ini mohon agar dapat dikembalikan ke:</li>
                  </ol>
              </p>
              <div class="text-wrapper-60">PT. Alam Karya Gemilang</div>
              <p class="head-office">
                <span class="head-office-span">Head Office:<br /></span>
                <span class="text-wrapper-70"
                  >Jl. MT. Haryono Perumahan Bukit Mediterania <br />Perkantoran No.
                  23-26<br />Air Putih Samarinda-Kalimantan Timur</span
                >
              </p>
              <p class="site-office">
                <span class="office-span">Site Office:<br /></span>
                <span class="text-wrapper-70"
                  >Jalan Poros Muara Badak<br />Desa Tanjung Limau<br />Kec. Muara
                  Badak</span
                >
              </p>
              <div class="image-side">
                <img
                  class="alamkaryalogo"
                  src="https://alamkaryagemilang.com/alamkaryalogo.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="d-flex align-items-center justify-content-center">
        <div class="box-simper">
          <div class="group-simper">
            <div class="overlap-simper">
              <div class="rectangle-simper"></div>
              <div class="div-simper"></div>
              <div class="rectangle-simper-2"></div>
              <div class="rectangle-simper-3"></div>
              <div class="text-wrapper-simper">L3</div>
              <div class="text-wrapper-simper-2">L1</div>
              <div class="text-wrapper-simper-3">L2</div>
              <div class="rectangle-simper-4"></div>
              <p class="head-of-eng-simper">
                Marradian Dwi Pujana<br />Kepala Teknik Tambang
              </p>
              <div class="rectangle-simper-5"></div>
              <div class="rectangle-simper-6"></div>
              <div class="overlap-group-wrapper-simper">
                <div class="overlap-group-simper">
                  <div class="text-wrapper-simper-5">A</div>
                </div>
              </div>
              <div class="overlap-wrapper-simper">
                <div class="div-wrapper-simper">
                  <div class="text-wrapper-simper-6">BII</div>
                </div>
              </div>
              <div class="group-simper-2">
                <div class="div-wrapper-simper">
                  <div class="text-wrapper-simper-7">BI</div>
                </div>
              </div>
              <div class="text-wrapper-simper-8">JENIS SIMPOL</div>
              <div class="text-wrapper-simper-9">SIMPER</div>
              <div class="rectangle-simper-7"></div>
              <div class="group-simper-3">
                <div class="overlap-group-simper">
                  <div class="text-wrapper-simper-5">P</div>
                </div>
              </div>
              <div class="group-simper-4">
                <div class="div-wrapper-simper">
                  <div class="text-wrapper-simper-5">R</div>
                </div>
              </div>
              <div class="group-simper-5">
                <div class="div-wrapper-simper">
                  <div class="text-wrapper-simper-5">Q</div>
                </div>
              </div>
              <div class="text-wrapper-simper-10">JENIS SIMPER</div>
              <div class="group-simper-6">
                <div class="overlap-group-simper">
                  <div class="text-wrapper-simper-5">A</div>
                </div>
              </div>
              <div class="group-simper-7">
                <div class="div-wrapper-simper">
                  <div class="text-wrapper-simper-11">AB</div>
                </div>
              </div>
              <div class="group-simper-8">
                <div class="div-wrapper-simper">
                  <div class="text-wrapper-simper-5">O</div>
                </div>
              </div>
              <div class="group-simper-9">
                <div class="div-wrapper-simper">
                  <div class="text-wrapper-simper-5">B</div>
                </div>
              </div>
              <div class="text-wrapper-simper-12">GOL DARAH</div>
              <div class="text-wrapper-simper-13">No SIMPOL</div>
              <div class="text-wrapper-simper-14">Masa Berlaku</div>
              <div class="text-wrapper-simper-15">Masa SIMPER</div>
              <div class="text-wrapper-simper-16">: 941019310641</div>
              <div class="text-wrapper-simper-17">: 12-10-2023</div>
              <div class="text-wrapper-simper-18">: 12-10-2023</div>
              <div class="text-wrapper-simper-19">JENIS PERALATAN</div>
              <div class="group-simper-10">
                <table class="col-12 center-table">
                  <tr>
                    <td>1</td>
                    <td>F</td>
                    <td>P</td>
                    <td>T</td>
                    <td>LIGHT VEHICLE</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>F</td>
                    <td>P</td>
                    <td>T</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>F</td>
                    <td>P</td>
                    <td>T</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>F</td>
                    <td>P</td>
                    <td>T</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>F</td>
                    <td>P</td>
                    <td>T</td>
                    <td></td>
                  </tr>
                </table>
              </div>
      
              <p class="kehilangan-SIMPER">
                Kehilangan SIMPER &amp; PERMIT dikenakan denda<br />Rp. 100.000,-<br />SIMPER
                wajib dibawa pada saat<br />mengoperasikan unit atau kendaraan
              </p>
              <div class="text-wrapper-simper-28">Pelanggaran</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {
    var id = new URLSearchParams(window.location.search).get("id");

    $.ajax({
      url: "/detail/permit?id=" + id,
      method: "get",
      success: function (data) {
        document.getElementById("name-permit").innerHTML = data.name;
        document.getElementById("nik-permit").innerHTML = data.nik;
        document.getElementById("reg-permit").innerHTML = data.region;
        document.getElementById("company-permit").innerHTML = data.company;
        document.getElementById("departement-permit").innerHTML =
          data.departement;
        document.getElementById("position-permit").innerHTML = data.position;
        document.getElementById("img-profile").src = "/" + data.image;
        document.getElementById("valid-permit").innerHTML = data.valid;
      },
    });
  });
</script>
{{ end }}
