{{ define "content" }}
<div id="main-body" class="justify-content-center data-body">
  <h1>List Permit</h1>
</div>
<div class="justify-content-center data-body">
  <div class="mx-5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Name</th>
          <th scope="col">NIK</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody id="list-data"></tbody>
    </table>
  </div>
</div>

<iframe id="printFrame" style="display: none"></iframe>

<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"
></script>
<script>
  $.ajax({
    url: "/get/permit",
    method: "get",
    success: function (data) {
      let htmlTable = "";
      let idx = 1;
      for (let i of data) {
        htmlTable += `<tr>
                        <td scope="row" align="center">${idx}</td>
                        <td width="40%">${i["name"]}</td>
                        <td width="30%">${i["nik"]}</td>
                        <td>
                            <a href="/update/permit?id=${i["id"]}" class="btn btn-warning text-white">Update</a>
                            <a class="btn btn-danger text-white delete-btn" pub_id=${i["id"]}>Delete</a>
                            <a type='button' onclick="printDiv('page-permit', ${i["id"]})" class="btn btn-success text-white">Cetak</a>
                        </td>
                    </tr>`;
        idx += 1;
      }
      $("#list-data").html(htmlTable);
    },
  });

  function confirmDeletePermit(id) {
    Swal.fire({
      title: "Are you sure to delete?",
      text: "Your action are irreversible!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes",
      background: "#ffffff",
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: "/delete/permit?id=" + id,
          method: "get",
          success: function (result) {
            Swal.fire({
              title: "Success",
              text: "Permit data has been deleted.",
              icon: "success",
              confirmButtonColor: "#3085d6",
              confirmButtonText: "Yes",
              background: "#ffffff",
            }).then((data) => {
              window.location.replace("/list/permit");
            });
          },
        });
      }
    });
  }

  $(document).ready(function () {
    $("#list-data").on("click", ".delete-btn", function () {
      let _id = $(this).attr("pub_id");
      confirmDeletePermit(_id);
    });
  });

  function printDiv(divName, id) {
    var printFrame = document.getElementById("printFrame");
    printFrame.src = "/generate/permit?id=" + id;
    printFrame.onload = function () {
      printFrame.contentWindow.print();
    };
  }
</script>
{{ end }}
